.speech{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    text-decoration: solid;
    }
.song{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    text-decoration: solid;
        }
.direction{
    color:rgb(250, 2, 2);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    background-color:rgba(255, 251, 0, 0.507);
    }
.direction:hover{
    background-color:rgb(55, 55, 58);
        color:rgb(254, 254, 254);
}
.cho{
        color:rgb(196, 4, 225);
        font-size: 15px;
    }
    .solo{
        color:rgb(188, 63, 0);
        font-size: 15px;
    }

    .dia{
        color:rgb(160, 0, 83);
        font-size: 15px;
    }
    .ap{
        color:rgb(0, 0, 166);
        font-size: 15px;
    }
    .mer:hover {
        color: rgb(82, 1, 1);
        background-color:rgb(111, 229, 229);
        text-shadow: 5px 5px 3px red;
        display: inline;
        }
    table{
        border-style: double;
    }
    th, td {
        border: 1px solid black;
      }
    th {
       color:rgba(46, 5, 46, 0.406);
          }
          td{
            color:rgb(234, 236, 237);
          }
           tr:nth-child(even) {
            background-color:rgb(135, 83, 214);
          }
          tr:nth-child(odd) {
            background-color:rgba(66, 11, 149, 0.42);
          }
          td {
            text-align: center;
            }
           